
  <div class="metric-container"> 
    <span class="metric-caption">Total elapsed time:</span> <span class="metric-value">{{elapsedTime}}</span> <span class="metric-unit">seconds</span> 
  </div>
  <div class="metric-container">
      <span class="metric-caption">Words per minute:</span> <span class="metric-value">{{wpm}}</span> <span class="metric-unit">wpm</span> 
  </div>
  <div class="metric-container"> 
      <span class="metric-caption">Accuracy:</span>  <span class="metric-value">{{accuracy}}</span> <span class="metric-unit">%</span>
  </div>
